/*.background {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}*/

h1 {
  text-align: center;
}

#seeds {
  height: 30%;
  width: 50%;
}

#seeds1 {
  position: fixed;
  bottom: 0px;
  right: 57%;
  width: 100px;
  height: auto;

}

#seeds2 {
  position: fixed;
  bottom: 0px;
  right: 10%;
  width: 100px;
}
